page-profile {
	.toolbar-background {
		background: transparent;
		border-color: transparent;
	}

	.grid-profile{
		text-align: center;
		padding-top: 24px;
	}
	.img-profile{
		width: 100px;
		height: 96px;	

	}

	.title-profile{
		color: white;
		text-align: center;
	}
}
